*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'KensMark 03';
    src: url('../fonts/kensmark-03-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Blender ProBook';
    src: url('../fonts/blender-pro-book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    color: #ffffff;
    background-color: #080012;
    background-image: url(../images/binding-dark.png);
}
div{
    display: block;
}
.background-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.4;
}
.nav{
    box-sizing: border-box;
    height: 24vh;
    width: 100%;
    padding: 15px 2vw;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}
.nav-content{
    font-family: 'KensMark 03', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 15px 30px;
    font-size: 25px;
    font-weight: 300;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    flex-shrink: 1;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.active-page{
    display: flex;
    gap: 10px;
    text-shadow: rgb(255, 255, 255) 0px 0px 2px, rgba(255, 255, 255, 0.6) 0px 0px 12px;
}
.active-page i{
    cursor: pointer;
    display: none;
}
.active::after{
    content: '';
    display: block;
    margin: 3px auto 0;
    width: 50%;
    border-radius: 5px;
    height: 3px;
    background: #ffffff;
}
.nav-logo img{
    width: 70px;
}
.signIn-btn {
    font-size: 13px;
    padding-left: 10px;
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/signIn-btn.jpg);
    background-repeat: no-repeat;
    transition: 0.3s;
    border-radius : 5px 5px 5px 0
}
.signIn-btn:hover{
    font-size: 14px;
}
.left-sidebar{
    position: fixed;
    top: 13vh;
    left: 0;
    background: #00000040;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    z-index: 1000;
}
.left-sidebar ul{
    list-style: none;
    padding: 25px 10px;
    margin: 0 10px;
    font-size: 25px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'KensMark 03', sans-serif;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-shrink: 1;
    
}
.left-sidebar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
}
.left-sidebar ul li a{
    transition: 0.5s;
}
.left-sidebar ul li a:hover{
    color: RGB(0, 248, 241);
}
.left-sidebar ul li p{
    font-size: 11px;
}
.right-sidebar{
    position: fixed;
    top: 13vh;
    right: 0;
    background: #00000040;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    z-index: 1000;
}
.right-sidebar ul{
    list-style: none;
    padding: 25px 10px;
    margin: 0 10px;
    font-size: 25px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'KensMark 03', sans-serif;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-shrink: 1;
    
}
.right-sidebar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
    transition: 0.5s;
}
.right-sidebar ul li a{
    transition: 0.5s;
}
.right-sidebar ul li a:hover{
    color: RGB(0, 248, 241);
}
.right-sidebar ul li p{
    font-size: 11px;
}
.title{
    margin: 13vh auto 0 auto;
    width: 80%;
}
.title-content{
    display: flex;
    text-align: center;
    align-items: flex-end;
}
.title-logo{
    position: absolute;
    margin-right: auto;
    width: 300px;
    margin-right: 3rem;
}
.title h1{
    font-family: 'KensMark 03', sans-serif;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    text-shadow:
    rgba(255, 255, 255, 0.694) 0px 0px 4.58195px,
    rgba(157, 78, 221, 0.565) 0px 0px 11.1639px,
    rgba(157, 78, 221, 0.365) 0px 0px 15.7967px;
}
.benefits{
    margin: 2% auto;
    width: 80%;
}
.benefits-content{
    width: 84%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: center;
}
.benefits-card{
    width: 30%;
    height: 80px;
    background: #1e003cd9;
    border: 2px solid #7b2ff7;
    border-radius: 12px;
    box-shadow: 0 8px 20px #7b2ff766;
    color: #fff;
    cursor: pointer;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: flex .4s ease;
}
.benefits-card p{
    font-family: 'Blender ProBook', monospace;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.section-divider{
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    background: #ffffff14;
    font-family: 'KensMark 03', sans-serif;
    padding: 10px 30px;
    box-shadow: 0 0 15px #fff9;
    border-radius: 0 5px 5px 0;
    border-left: 4px solid #ffffff;
}
.course-section-content{
    padding: 30px 0;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
/*-----Course Card------------------*/
.course-card{
    width: 270px;
    height: 324px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.card-text{
    width: 80%;
}
.card-text h1{
    font-family: 'KensMark 03', sans-serif;
    align-self: center;
    color: #fff;
    font-size: 20px;
    margin: 0 20px;
    position: absolute;
    width: 80%;
    text-align: center;
    top: 3%;
    transform-origin: center;
    transition: 0.3s ease-out;
    z-index: 6;
}
.card-text .card-description{
    z-index: 5;
    position: absolute;
    width: 60%;
    left: 20%;
    top: 13%;
    height: 70%;
    background: #00000040;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
}
.card-text .card-description p{
    transform: translateY(130%);
    padding: 15px 15px 0 15px;
    font-size: 12px;
    text-align: justify;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.card-overlay-img{
    height: 253px;
    z-index: 2;
    left: 12%;
    position: absolute;
    top: 9.7%;
    width: 189px;
}
.card-buttons{
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    z-index: 6;
}
.buttons-container{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}
.card-buttons button{
    background-color: #150b40;
    border: 2px solid #6c36e2;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0 60%, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0 60%, 0 0);
    font-family: 'KensMark 03', sans-serif;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
}
.card-text .price{
    position: absolute;
    width: 20px;
    height: 30px;
    top: 90%;
    left: 38%;
    font-size: 13px;
    z-index: 7;
    font-family: 'KensMark 03', sans-serif;
}
.card-text .price-section{
    position: absolute;
    top: 95%;
    z-index: 7;
    left: 39%;
    font-size: 12px;
    display: flex;
    width: 50px;
    gap: 10px;
}
.card-text .price-section .price-amount{
    font-size: 14px;
}
.card-text .price-section .price-discount{
    color: #0C0619;
    text-decoration: line-through;
    font-weight: 600;
    font-size: 14px;
}
.course-card .card-image-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 3;
}
.course-card .card-image-back{
    position: absolute;
    top: 0;     
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    transform: scaleX(1.1);
    transition: transform 0.3s ease-out;
}

.course-card:hover{
    .card-text h1{
        font-size: 14px;
    }
    .card-image-back{
        transform: scaleX(1.2) scaleY(1);
    }
    .card-text .card-description{
        opacity: 1;
    }
    .card-text .card-description p{
        transform: translateY(0%);
    }
}

/*---------------------Footer---------------------*/
footer{
    background-color: #6c36e26b;
    border: 2px solid #6c36e2;
    box-shadow: 0 0 20px #6c36e2;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    margin: 4rem auto 2rem auto;
    overflow: hidden;
    padding: 1rem 2rem;
    width: 80vw;
}
footer .participant{
    line-height: 20px;
    font-family: 'Blender ProBook', sans-serif;
}
footer .name{
    font-size: 15px;
}

/*----------Course Content Page----------------*/
.course-details-container{
    box-sizing: border-box;
    align-items: center;
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 70%;
    margin: auto;
    padding: 7rem 0 0;
}
.course-detalis-image-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 2rem;
    width: 480px;
}
.course-detalis-image-section img{
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    box-shadow: 0 0 12px #9c5aff80;
    object-fit: cover;
    transition: transform .3s ease, box-shadow .3s ease;
    width: 80%;
    height: auto;
    display: block;
    grid-column: 1;
    grid-row: 1;
}
.course-detalis-image-section img:hover{
    box-shadow: 0 0 20px #9c5aff80;
    transform: scale(1.04);
}
.course-details-register-buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.course-details-container button{
    background: #0000;
    border: 2px solid #9c5aff;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Blender ProBook', monospace;
    font-size: 17px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    transition: all .25s ease-in-out;
}
.course-details-container button:hover{
    color: #000000;
    background-color: #9c5aff;
}
.course-details-section{
    align-items: center;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    height: 400px;
    width: 45%;
    padding-top: 5%;
}
.course-details-section-heading{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.course-details-section-heading h1{
    font-family: 'Kensmark 03', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
}
.course-details-section-prices{
    display: flex;
    gap: 10px;
    font-family: 'Blender ProBook', monospace;
    align-items: center;
} 
.course-details-discounted-price{
    color: #9c5aff;
    font-size: 25px;
    font-weight: 600;
}
.course-details-actual-price{
    text-decoration: line-through;
    font-size: 17px;
    font-weight: 600;
}
.course-details-section-customBox{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.customBox-content{ 
    border-top: 2px solid #6C36E2;
    border-bottom: 2px solid #6C36E2;
    display: flex;
    flex-direction: column;
}
.customBox-content h1{
    color: #a600ff;
    font-size: 1.2rem;
    font-family: 'Blender ProBook', monospace;
    font-weight: 600;
}
.customBox-content p{
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Blender ProBook', monospace;
    font-weight: 100;
}
.content-line{
    margin: 15px 0;
}
.date-venue{
    display: flex;
    justify-content: space-between;
}
.course-details-section-tabMenu{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

/*--------Responsive Media Queries-----------*/
@media screen and (max-width: 1300px){
    .benefits-content{
        flex-direction: column;
        gap: 30px;
    }
    .benefits-card{
        width: 100%;
    }
    .title-logo{
        display: none;
    }
    .course-details-container{
        flex-direction: column;
    }
    .course-details-register-buttons{
        width: 80%;
    }
    .course-details-section{
        width: 100%;
        margin-bottom: 200px;
    }
}
@media screen and (max-width: 887px){
    .right-sidebar{
        display: none;
    }
    .left-sidebar{
        top: 90vh;
        left: 0;
        width: 100%;
    }
    .left-sidebar ul{
        flex-direction: row;
        text-align: center;
    }
    .nav ul{
        font-size: 20px;
    }

}
@media screen and (max-width: 779px){
    .nav ul{
        flex-direction: column;
        overflow: hidden;
    }
    .active-page{
        order: 0;
    }
    .active-page i{
        display: block;
    }
    .non-active{
        order: 1;
        display: none;
        transition: all 0.5s ease;
    }
    .fa-chevron-down:focus-within .non-active {
        display: block;
        order: 1;
        opacity: 1;
    }
}